.j-select-row .left[data-v-8aadf2f4]{width:calc(100% - 90px)}.j-select-row .right[data-v-8aadf2f4]{width:82px}.j-select-row .full[data-v-8aadf2f4]{width:100%}.j-select-row[data-v-8aadf2f4] .ant-select-search__field{display:none!important}
